:root 
{
    --header-background-color: #23252B;
    --background-color: #000000;
    --background-color-login: #141519;
    --text-color: #ffffff;
}
body 
{
    background-color: var(--background-color);
}

.logo 
{
    display: flex;
    justify-content: center;
    background-color: var(--header-background-color);
    padding: 15px;
}

.login_h 
{
    display: flex;
    justify-content: center;
    color: var(--text-color);
}

.login 
{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container
{   
    display: flex;
    align-items: center;
}

.background_login
{   
    margin-top: 200px;
    z-index: 1; /* Garante que a imagem fique atrás dos inputs */
}

.content 
{
    display: flex;
    flex-direction: column;
    gap: 40px; /* Espaçamento entre os inputs */
    z-index: 1;
}



